* {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

:root{
    --principal-color:#1D40AF;
    --button-color:#7ce20e;
    --title-color:#67E8F9;
    --nav-fonts-color:#ffffff;
    --page-fonts-color:#000000;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    font-weight: bold;
    height: 90px;
    background-color: var(--principal-color);
    box-shadow: 0px 2px 80px 4px;

}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.name {
    font-size: 3.2rem;
    text-decoration: none;
    margin-right: 5%;
    color: var(--title-color);
}

.link-item {
    color: var(--nav-fonts-color);
    font-size: 1.8rem;
    text-decoration: none;
}

.list-container>ul {
    list-style: none;
    display: flex;
}

.list-container>ul>li {
    margin-left: 20px;
}

.btn-container {
    display: flex;
    align-items: center;
    margin-left: 5%;
}

.register-btn {
    font-size: 1.8rem;
    padding: 4px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    background-color: var(--button-color);
    box-shadow: 0px 0px 10px 4px var(--page-fonts-color);
    color: var(--nav-fonts-color);
    margin-left: 15px;
}

.btn-container>h5>a {
    font-size: 2.0rem;
    text-decoration: none;
    color: var(--nav-fonts-color);
}

.fa-bars{
    font-size: 4.0rem;
    font-weight: normal;
    margin-right: 5%;
    color: var(--nav-fonts-color);
}

.products-section{
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.products-title{
    font-size: 2.8rem;
}

.items-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1250px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
    border: 1px white solid;
    justify-content: center;
    width: 406px;
    height: 370px;
    border-radius: 15px;
    margin-left: 10px;
    margin-top: 15px;
    box-shadow: 0px 0px 30px 3px;
    padding: 5px;
}

.item-image{
    margin-bottom: 10px;
    border-radius: 15px;
}

.carr-img{
    border-radius: 10px;
}

.carousel-inner{
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 2px;
}

.product-name{
    font-size: 1.8rem;
}
.product-description{
    font-size: 1.6rem;
    margin-left: 15px;
}

.page-foot{
    box-sizing: border-box;
    background-color: var(--principal-color);
    width: 100%;
    margin-top: 100px;
    height: 200px;
    box-shadow: 0px 2px 80px 4px;
}

<<<<<<< HEAD
<<<<<<< HEAD
.article{
 display: flex;
 width: 80%;
 height: 200px;
 color: rgb(87, 87, 87);
}
.articleText{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100%;
 font-family: "roboto", sans-serif;

}
.containerArticleImage{
 width: 100%;
 max-width: 350px;
 height: 100%;
}
.articleImage{
 width: 100%;
 height: 100%;
}
.articleTitle{
 font-size: 3.5rem;
}
.articleP{
 padding-left: 5%;
 padding-top: 25px;
 font-size: 1.7rem;
}

/* Estilos del contenido principal */
.mainContent{
 display: flex;
 flex-direction: column;
 margin-top: 110px;
 align-items: center;
}

/* Estilos de las secciones */
.divSection{
 display: flex;
 margin-top: 30px;
 flex-direction: row;
 width: 80%;
 height: 300px;
 font-family: "roboto", sans-serif;
}
.sectionContent{
 width: 100%;
 margin-right: 7%;
 font-size: 3rem;
 color: rgb(87, 87, 87);
 box-shadow: black 0 1px 12px 0px;
 padding: 1%;
 background-color: #bcdaf5;

}
.sectionTitle{
 margin-top: 20px;
 margin-bottom: 20px;
}
.sectionP{
 font-size: 1.7rem;
 text-align: justify;

}

/* Estilos del formulario de registro*/
.asideContent {
 background-color: #f5f5f5;
 padding: 20px;
 border-radius: 5px;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
 margin-top: 20px;
 width: 60%; 
 margin: 0 auto; 
}

.asideContent h4 {
 margin-top: 0;
 font-size: 1.7rem;
}

.asideContent label {
 font-size: 1.5rem;
 display: block;
 margin-bottom: 5px;
}

.asideContent input[type="text"],
.asideContent input[type="text"],
.asideContent input[type="password"] {
 width: 100%;
 padding: 10px;
 margin-bottom: 10px;
 border: 1px solid #ccc;
 border-radius: 3px;
}

.asideContent button {
 background-color: #67e8f9; 
 color: white; 
 padding: 15px 30px; 
 border: none;
 border-radius: 5px; 
 cursor: pointer;
 font-size: 1.5rem;
}

.asideContent button:hover {
 background-color: #1d40af; 
=======
p{
=======
.container .container1 p {
>>>>>>> 8d541c4ebd2227910ebe985ee0bd4c5756aaee63
    color: #000000;
    font-family: "Roboto", sans-serif;
}

.contenedor1 {
    font-size: 2.5rem;
    flex: 0 0 50%;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-right: 0%;
    text-align: center;
}

.contenedor2 {
    font-size: 2.5rem;
    background-color: #67E8F9;
    border: 2px solid black;
    border-radius: 7px;
    flex: 0 0 48%;
    padding: 20px;
    margin: 4px;
    box-sizing: border-box;
}

.contenedor3 {
    font-size: 2.5rem;
    background-color: #67E8F9;
    border: 2px solid black;
    border-radius: 7px;
    flex: 0 0 48%;
    padding: 20px;
    margin: 4px;
    box-sizing: border-box;
}

.lavadora {
    flex: 0 0 50%;
    max-width: 40%;
    height: 40%;
    margin: 5%;
}

.container .container1 {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
>>>>>>> afdc5411daa793588643e56164c91d8df799cbea
}